/*--------------------------------------------------------------*/
/*-------------------------INDEX.HTML CSS-----------------------*/
/*--------------------------------------------------------------*/
/*Structure*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

#main-header h1 {
  padding: 10px;
  margin: 5px;
  background-color: darkred;
  color: white;
  border-radius: 10px;
}

#news {
  margin: 5px;
  padding: 10px;
  background-color: darkred;
  color: white;
  border-radius: 10px;
}

.news p {
  display: flex;
  align-items: center;
}

#main-content h3 {
  margin: 5px;
  padding: 10px;
  background-color: darkred;
  color: white;
  border-radius: 10px;
}

#main-content h2 {
  background-color: black;
  color: white;
  border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

#main-footer {
  padding: 10px;
  margin: 5px;
  text-align: center;
}

/*Image Slideshow*/

#img-section {
  border: darkgray 5px solid;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

#dots {
  padding-top: 10px;
}

#slideshow {
  border-radius: 10px;
  margin: 5px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  border-radius: 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*Navigation*/
#main-nav ul {
  border-radius: 10px;
  list-style: none;
  padding: 2px;
  margin: 5px;
  border: 5px darkgray solid;
}

#main-nav ul li {
  display: flex;
  display: block;
}

#main-nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  border-radius: 10px;
}

#main-nav ul li a:hover {
  background-color: darkgray;
  color: white;
  border-radius: 10px;
}

/*Typography*/
#main-header {
  text-align: center;
}

#main-content {
  text-align: center;
}

/*Media Queries*/
@media (min-width: 900px) {
  #main-nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #flex-container {
    display: flex;
    flex-direction: row;
  }
  .flex-item {
    min-width: 50%;
    max-width: 50%;
  }
  .flex-item p,
  .flex-item #img-section {
    min-height: 80%;
    max-height: 80%;
  }
}

/*--------------------------------------------------------------*/
/*-------------------------ABOUT.HTML CSS-----------------------*/
/*--------------------------------------------------------------*/
/*Structure*/

#jackson-info {
  margin: 5px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#hobbies {
  background-color: darkred;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  max-width: 630px;
  min-width: 630px;
}

#hobbies p {
  background-color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  max-width: 600px;
  min-width: 600px;
}

#jackson-info p {
  margin: 5px;
  padding: 10px;
  background-color: darkred;
  color: white;
  border-radius: 10px;
}

#flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#hobby-img {
  border-radius: 10px;
  border: 20px solid black;
  margin: 5px;
}

.flex-section {
  margin: 10px;
}

#profile-img {
  border-radius: 120px;
  border: 20px solid darkred;
  margin-bottom: 10px;
}

#jackson-info {
  max-width: 250px;
  min-width: 250px;
  margin: auto;
}

/*Typography*/
#jackson-info {
  text-align: left;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 900px) {
  #flex-box {
    display: block;
  }
  #hobby-img {
    max-width: 80%;
    min-width: 80%;
  }
  #hobbies,
  #jackson-info,
  #main-header,
  #main-nav {
    max-width: 250px;
    min-width: 250px;
    margin: auto;
  }

  #hobbies p {
    max-width: 220px;
    min-width: 220px;
    margin: auto;
  }
  #hobbies {
    margin-bottom: 10px;
  }
  #hobby-img {
    max-width: 250px;
    min-width: 250px;
    margin: auto;
  }
}
