/* Structure */
body {
    background-color: rgb(100, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#main_info {
    background-color: rgb(255, 255, 255);
    width: 99%; 
    margin: auto; 
    padding: 5px; 
    border: 1px solid black;
    border-radius: 5px; 
    box-shadow: 5px 5px black; 
}

#assignments {
    background-color: rgb(255, 255, 255);
    width: 99%; 
    margin: auto; 
    margin-top: 10px;
    padding: 5px; 
    border: 1px solid black; 
    border-radius: 5px; 
    box-shadow: 5px 5px black; 
}

#assignments h2 {
    background-color: lightgrey;
    margin: auto;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
}

#main-nav {
    background-color: lightgrey;
    width: 99%; 
    margin: auto; 
    padding: 3px; 
    border: 1px solid black; 
    border-radius: 5px; 
}

#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    display: inline-block;
}

#main-nav a {
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: large;
}

#main-nav a:hover {
    color: white;
    background-color: black;
    padding: 2px;
    border-radius: 5px;
}

#assignments ul {
    padding-left: 0;
}

#assignments li {
    list-style-type: none;
    margin: 5px 0;
}

#assignments a {
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
}

#assignments a:hover {
    color: white;
    background-color: black;
    padding: 2px;
    border-radius: 5px;
}





/* Typography */
header h1 {
    text-align: center;
}

main h2, p, #main-nav{
    text-align: center;
}

footer p {
    text-align: center;
}

#assignments {
    text-align: center;
}

