/* Structure */
#main-header,
#main-footer {
  background-color: darkred;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

#assignment-header {
  background-color: lightgrey;
  padding: 10px;
  color: black;
  border-radius: 5px;
  margin-top: 2px;
}

#main-content {
  padding: 5px;
  background-color: darkgray;
  border-radius: 5px;
}

#name {
  margin: auto;
}

.flex-container {
  margin: 5px;
}

.assignments {
  background-color: lightgrey;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  max-width: 350px;
  min-width: 350px;
}

.assignments img {
  border-radius: 5px;
  display: block;
  margin: auto;
}

/* Typography */
body {
  font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
  text-align: center;
}

.assignments h3 {
  text-align: center;
  text-decoration: none;
}

.assignments a {
  text-decoration: none;
  color: black;
}

.assignments a:hover {
  color: darkred;
  text-decoration: none;
}

#main-content h2 {
  text-align: center;
}

/* Larger Resolutions */
@media (min-width: 1000px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .assignments {
    flex: 1;
  }

  #name {
    order: 1;
  }

  #main-header h1 {
    order: 3;
  }
}

/* Smaller Resolutions */
@media (max-width: 999px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .assignments {
    margin: 10px 0;
  }

  #main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #name {
    order: 3;
    margin: 10px 0;
  }

  #main-header h1 {
    order: 1;
    text-align: center;
    margin: auto;
  }
}
