/* Structure */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

#main-header {
  padding: 10px;
}

.hidden {
  display: none;
}

.stair {
  position: absolute;
  width: 100px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #ccc; /* Adjust the background color as needed */
}

#draw-stairs {
  margin: auto;
  padding: 5px;
  display: flex;
  margin-bottom: 20px;
}

#stair-side {
  position: relative;
  border-left: 6px black solid;
  width: 100px;
  border-right: 6px black solid;
  height: 600px;
  margin: auto;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.flex-item {
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: ghostwhite;
  box-sizing: border-box;
}

/*Typography*/
#main-header {
  text-align: center;
  font-size: 1.5em;
}

#main-header h1 {
  margin: 0;
  color: rgb(56, 32, 1);
}

#main-header h2 {
  color: rgb(100, 20, 0);
}

.flex-item h3 {
  text-align: center;
}

#main-footer {
  text-align: center;
  font-size: 0.8em;
  color: rgb(100, 20, 0);
}

/* Media Queries */
@media (min-width: 900px) {
  #flex-container {
    flex-direction: row;
    flex: 1;
  }

  .flex-item {
    margin: 10px;
    padding: 10px;
    min-height: 300px;
    max-height: 300px;
  }

  #flex-item-hello {
    margin: 10px;
    padding: 10px;
    min-height: 300px;
    max-height: 300px;
  }
}
